.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: #23272a;
  color: #ddd;
}
.body input[type="text"] {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  width: 50%;
  outline: none;
  color: #fff;
  background-color: #2c2f33;
  margin: 5px 0px;
  width: 100%;
  display: block;
}
.listitems {
  margin-top: 15px;
  list-style: none;
  background-color: #2c2f33;
  padding: 10px;
  border-radius: 5px;
}
.listitems li {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background 0.3s linear;
  padding: 2px 5px;
  cursor: pointer;
}
.listitems li:hover {
  background-color: #343a3f;
}
.listitems .rmvbtn {
  display: initial;
  background-color: rgb(219, 68, 68);
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  transition: all 0.3s linear;
}
.body label {
  color: #ddd;
  font-weight: bold;
  margin: 5px 0px;
}
@media (max-width: 750px) {
  .body h1 {
    font-size: 100%;
  }
}
.body button {
  background-color: #2c2f33;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px 0px;
  color: #fff;
  display: block;
  outline: none;
  transition: transform 0.3s linear;
}
.body button:hover {
  transform: translateY(-3px);
}
.body button:active {
  transform: scale(1.1);
}
