.resulte {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
}
.body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  /* height: 50%; */
}
.bodyform {
  /* flex: 0.6; */
}
.bodyprofite {
  /* flex: 0.4; */
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  overflow: auto;
  background-color: #fff;
  max-height: 200px;
  width: 100%;
}
.bodyitemprofite {
  width: 100%;
  display: flex;
  cursor: pointer;
  justify-content: space-evenly;
  border-bottom: 1px solid #f1f1f1;
}
.bodyitemprofite:hover {
  background-color: #ddd;
}

.bodyitemprofite span {
  margin-right: 6px;
}
.body input[type="text"] {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  width: 50%;
}
.profite {
  margin-left: 30px;
}
.body button {
  margin-left: 10px;
}
.body input {
  margin: 10px;
  display: block;
}
.resulte ul {
  background-color: #fff;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  list-style: none;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
}
.home {
  width: 100%;
  max-height: 100%;
  height: auto;
  display: flex;
  overflow: auto;
}
.home h3 {
  cursor: pointer;
}
.Market {
  flex: 0.5;
  padding: 10px;
  background-color: rgb(58, 41, 209);
  overflow: auto;
}
.BlackMarket {
  overflow: auto;
  flex: 0.5;
  padding: 10px;
  background-color: black;
  color: #fff;
}
.MarketItem {
  border-bottom: 2px solid #fff;
  border-radius: 5px;
  margin: 5px 0;
  color: #fff;
}
