.light {
  --bg: #f1f1f1;
  --bginpt: #fff;
  --profite: #fff;
  --txt: #000;
  --hoverprofite: #ddd;
  --nav: #000;
  --navhover: darkgray;
}
.dark {
  --navhover: #fff;
  --nav: #ddd;
  --bg: #23272a;
  --bginpt: #2c2f33;
  --profite: #2c2f33;
  --txt: #fff;
  --hoverprofite: #36393d;
}

.resulte {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
}
.body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  /* height: 50%; */
}
.selecteditem {
  background-color: #192c56;
  color: #fff;
  transition: backgroud-color, color 0.3s linear;
}

.selecteditem:hover {
  color: initial;
}
.bodyform {
  width: 100%;
  display: flex;
}
.bodyform form {
  width: 100%;
  /* background-color: #ddd; */
  /* display: flex; */
  /* flex-direction: column; */

  margin-right: 10px;
}
.bodyform button,
.bodyform input[type="submit"] {
  background-color: var(--bginpt);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  /* margin: 10px 0px; */
  margin-bottom: 10px;
  color: var(--txt);
  /* display: block; */
  outline: none;
  -webkit-box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.75);
  transition: transform, box-shadow 0.3s, 0.3s linear;
}
.bodyform button:hover,
.bodyform input[type="submit"]:hover {
  -webkit-box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.75);
}

.bodyprofite {
  /* flex: 0.4; */
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  overflow: auto;
  background-color: var(--profite);
  height: auto;
  align-self: center;
  width: 90%;
}
.bodyitemprofite {
  transition: backgroud-color, color 0.3s linear;
  width: 100%;
  display: flex;
  cursor: pointer;
  padding: 10px;
  justify-content: space-evenly;
  border-bottom: 1px solid #f1f1f1;
}
.bodyitemprofite:hover {
  background-color: var(--hoverprofite);
  color: var(--txt);
}

.bodyitemprofite span {
  margin-right: 6px;
  width: 300px;
  font-size: 100%;
  display: flex;
  align-items: center;
}
.bodyform textarea {
  border: none;
  color: var(--txt);
  background-color: var(--bginpt);
  outline: none;
  padding: 10px;
  margin: 0px 10px;
}
.body input[type="text"] {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  width: 50%;
  outline: none;
  color: var(--txt);
  background-color: var(--bginpt);
}
.profite {
  /* margin-left: 30px; */
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
}
.navbar {
  margin-left: auto;
  margin-right: 20px;
}
.navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
}
.navbar ul li {
  margin: 0px 10px;
  color: var(--nav);
}
.navbar ul li:hover {
  color: var(--navhover);
  text-decoration: underline;
}
.profite h1 {
  cursor: pointer;
}
.body button {
  margin-left: 10px;
}
.body input {
  margin: 10px;
  display: block;
}
.resulte ul {
  background-color: #fff;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  list-style: none;
}
.container {
  width: 100%;
  color: var(--txt);
  display: flex;
  flex-direction: column;

  background-color: var(--bg);
  transition: background 0.3s linear;
}
.flex {
  height: 100vh;
}
.Switch {
  height: 80%;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.Switch img {
  height: 92%;
  height: 100%;
}
.home {
  width: 100%;
  max-height: 100%;
  height: auto;
  display: flex;
  overflow: auto;
}
.home h3 {
  cursor: pointer;
}
.Market {
  flex: 0.5;
  padding: 10px;
  background-color: rgb(58, 41, 209);
  overflow: auto;
}
.BlackMarket {
  overflow: auto;
  flex: 0.5;
  padding: 10px;
  background-color: black;
  color: #fff;
}
.MarketItem {
  border-bottom: 2px solid #fff;
  border-radius: 5px;
  margin: 5px 0;
  color: #fff;
}
.moresvg {
  height: 40px;
  width: 40px;
  position: absolute;
  right: 1%;
  cursor: pointer;
}
@media (max-width: 780px) {
  .profite h1 {
    font-size: 100%;
  }
  .bodyform {
    flex-wrap: wrap;
  }
  .bodyform input[type="text"] {
    width: 100%;
  }
}
